/* line 1, ../sass/_base.scss */
body {
  font-family: "Time New Roman";
  background-image: url("../galax.png");
}

/* line 5, ../sass/_base.scss */
h1 {
  text-align: center;
  font-size: 60px;
  color: #fff;
  margin: 10px 0;
}

/* line 11, ../sass/_base.scss */
h2 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 5px 0;
}

/* line 17, ../sass/_base.scss */
button {
  height: 50px;
  width: 65px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  opacity: 0.9;
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  font-size: 14px;
  font-family: "impact";
  letter-spacing: 1px;
  margin: 2px 0px;
  border: none;
}

/* line 29, ../sass/_base.scss */
p {
  display: none;
}

/* line 1, ../sass/_layout.scss */
.container {
  margin: 0px auto;
  width: 1337px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 7, ../sass/_layout.scss */
.flexbox {
  float: left;
  height: 400px;
  width: 75px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* line 14, ../sass/_layout.scss */
#def {
  margin: 15px auto;
  height: 230px;
  width: 450px;
  background-color: #555;
}

/* line 14, ../sass/style.scss */
.violet {
  background-color: #A10684;
}

/* line 17, ../sass/style.scss */
.indigo {
  background-color: #791cf8;
}

/* line 20, ../sass/style.scss */
.bleu {
  background-color: #00BFFF;
}

/* line 23, ../sass/style.scss */
.vert {
  background-color: #01D758;
}

/* line 26, ../sass/style.scss */
.jaune {
  background-color: #FCDC12;
}

/* line 29, ../sass/style.scss */
.orange {
  background-color: #ff7400;
}

/* line 32, ../sass/style.scss */
.rouge {
  background-color: #ED0000;
}

/* line 35, ../sass/style.scss */
.blanc {
  background-color: #fff;
}

/* line 38, ../sass/style.scss */
.noir {
  background-color: #222;
  color: #fff;
}
